<!doctype html>

<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Minified Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Add CSS overrides below -->

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <main>
      <ul id="dropdown1" class="dropdown-content">
        <li class="divider"></li>
        <li><a href="#!">Category 1</a></li>
        <li><a href="#!">Category 2</a></li>
        <li><a href="#!">Category 3</a></li>
      </ul>

      <nav class="nav-wrapper blue-grey darken-4 z-depth-0">
        <div class="container">
          <a href="/" class="brand-logo">Title</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% include 'main/includes/navbaritems.html' %}
          </ul>
          <ul class="sidenav" id="mobile-demo">
              {% include 'main/includes/navbaritems.html' %}
          </ul>
        </div>
      </nav>

      {% include 'main/includes/messaging.html' %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    <footer class="page-footer blue-grey darken-4">
      <div class="container">
        <div class="row">

          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">This was developed as a starter template for novice web developers. Tinker away.</p>
          </div>

          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          © 2021 Copyright under GPLv3<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- Prism JS for Tinymce syntax highlighting -->
<script src="{% static "tinymce/js/prism.js" %}"></script>

<!-- Sidebar JS -->
<script>M.AutoInit();</script>

<!-- Extra style overrides -->
<style lang="CSS">
    /* Sticky footer in Materialize */
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    main {
        flex: 1 0 auto;
    }
    .is-dark {
        color: #252525;
    }
    .pr-6 {
        padding-right: 6rem;
    }
    .mt-2 {
        margin-top: 2rem;
    }
</style>
