{% extends 'main/header.html' %}

{% block content %}
<div class="row">
	{% for post in posts %} 
	<div class="col s12 mt-2">
		<span>
			<a href="{{post.post_slug}}">
				<h5 class="is-dark">{{post.post_title}}</h5>
				<p class="is-dark" style="font-size: 70%">By {{post.author}} 
					| Published: {{post.post_published|date:"j M Y"}} {{post.post_published|time:"G:s"}} 
					| Last updated: {{post.post_updated|date:"j M Y"}} {{post.post_updated|time:"G:s"}}
				</p>
			</a>
		</span>
		<p>{{post.post_content|safe}}</p>
	</div>
	{% endfor %}
</div>
{% endblock %} 
