{% extends 'main/header.html' %} 

<body>
    {% block content %}
    <div class="container">
        <br>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button style="background-color: #464540; color:rgb(233, 233, 233)" class="btn btn-outline-info" type="submit">Login</button>
        </form>

        Don't have an account? <a href="/login" target="blank"><strong>Register here</strong></a>.
    </div>
    {% endblock %} 
</body>