{% extends 'main/header.html' %} 

{% block content %} 
<div class="row">
    <div class="col s12 mt-2">
        <h5>{{post.post_title}}</h5>
        <p style="font-size: 70%">By {{post.author}} 
            | Published: {{post.post_published|date:"j M Y"}} {{post.post_published|time:"G:s"}}
            | Last updated: {{post.post_updated|date:"j M Y"}} {{post.post_updated|time:"G:s"}}
        </p>
        {{post.post_content|safe}}
        <p style="font-size: 70%">Category: <a href='/{{post.post_category.category_slug}}''>{{post.post_category.post_category}}</p></a>
        <!--<p style="font-size: 70%">Tags: <a href='/{{post.post_category.category_slug}}/{{post.post_subcategory.post_subcategory_slug}}''>{{post.post_subcategory}}</p></a>-->
    </div>
</div>
{% endblock %}