{% extends 'main/header.html' %} 

<body>
    {% block content %} 
    <div class="container">
        <br>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button style="background-color: #464540; color:rgb(233, 233, 233)" class="btn btn-outline-info" type="submit">Sign Up</button>
        </form>

        Already have an account? <a href="/login" target="blank"><strong>Login here</strong></a>.
    </div>
    {% endblock %} 
</body>