<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Category 1</a></li>
    <li><a href="#!">Category 2</a></li>
    <li><a href="#!">Category 3</a></li>
  </ul>

<li><a href="/">Home</a></li>
<li>
    <a 
      class="dropdown-trigger" 
      href="#!" 
      data-target="dropdown1"
    >
    Categories
      <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li><a href="https://discord.gg/">Community</a></li>
{% if user.is_authenticated %}
    <li><a href="/account">Account</a></li>
    <!--<li><a href="/account">{{user.username|title}}</a></li>-->
    <li><a href="/logout">Logout</a></li>
{% else %}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
{% endif %}
